@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprenda acerca de <a href="https://docs.microsoft.com/aspnet/core"> crear apliaciones web con ASP.NET Core</a>.</p>
</div>
